.footer{
      text-align: center;   
      margin-top: 10px;
      margin-bottom: 10px;
      color: brown;
}
img{
    width: 100px;
    padding-inline:inherit;
}
p{
    font-size: 20x;
    margin-top: 10px;
    margin-left:5px;
    margin-right: 5px;
}
h1{
    font-size: 40px;
    color:brown;
}
a{
    color:brown;
}
.feedback{
    display: flex;
    margin-right: 50px;
    margin-top: 20px;
    margin-left: 5px;
}
