body{
    background-color:#73afe4;
}
#colleges #engineeringCollege{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.college{
    height: 23rem;
    margin: 2.5% 2.5% 0 0;
    padding: 10px;
    border: none;
    width: 30%;
    border-radius: 10px;
    font-size: larger;
    box-shadow: 1px 2px 5px black;
    overflow: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.college p{
    font-size: large;
    font-weight: bold;
    color: #ea5df1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.college::-webkit-scrollbar{
    display: none;
}

.college h2{
    margin: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.bio{
    color: #333;;
    margin-top: 10px;
}